<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.messmanagement.messmanagement">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="Settings.ACTION_SECURITY_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/messlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/messlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionAndStatusBar" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionAndStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Options"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionAndStatusBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".SignIn"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionAndStatusBar" />
        <activity
            android:name=".SignupMess"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionAndStatusBar" />
        <activity
            android:name=".UploadMenu"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionAndStatusBar" />
        <activity
            android:name=".SignInStudent"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionAndStatusBar" />
        <activity
            android:name=".SignUpStudent"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionAndStatusBar" />
        <activity
            android:name=".Main2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionAndStatusBar" />
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionAndStatusBar" />
        <activity
            android:name=".UrgentNoti"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionAndStatusBar" />
        <activity
            android:name=".ViewReport"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionAndStatusBar" />
        <activity android:name=".AddNotice"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionAndStatusBar"></activity>
    </application>

</manifest>